<div class="container">
  <% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{type}" if msg.is_a?(String) %>
  </div>
  <% end %>
  <%= yield %>
</div>